<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Вітання">
  <title>Вітання з Днем захисника України!</title>
</head>
<body>
  <div class="for__you">
    <h1>З Днем захисника України!</h1>
    <p>
      Тобі по плечу будь-який проект, кол, співбесіда,<br>
      ти не боїшся труднощів, мужньо справляєшся з<br>
      нелегкою офісною роботою, миттям посуду<br>
      і нашими проханнями про допомогу,<br>
      з честю витримуєш спокусу солодощів на кухні!<br>
      Ми вітаємо тебе не з Днем захисника України,<br>
      <strong>а з Днем Супергероя Springs!</strong>
    </p>
    <p>І бажаємо завжди бути саме таким як ти є!</p>
    <p><img src="./images/superhero.png" alt="springs superhero"></p>
    <em>Твої дівчата Springs)</em>
  </div>
</body>
</html>