.App {
  width: 70%;
  margin: 20px auto;
  border: 1px solid #f0f0f0;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 700;
  background-color: #1890ff;
  width: 100%;
  padding: 20px;
}

.footer a{
  color: #fff;
}

.footer a:hover{
  color: #fff;
}

